<http>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>

    <body>
        <div class="col-md-10 offset-md-1"style="margin-top:50px;">
        <% if(zmarli.length) {%>
        <table class="table">
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Rok Zgonu</th>
                <th>Sektor</th>
                <th>Nr Parceli</th>
                <th>Mapa</th>
            </tr>
            <%zmarli.forEach(zmarly=>{ %>
            <tr>
                <td><%=zmarly.imie %></td>
                <td><%=zmarly.nazwisko %></td>
                <td><%=zmarly.rok_zgonu %></td>
                <td><%=zmarly.sektor %></td>
                <td><%=zmarly.numer_parceli %></td>
                <td><a href="#">Pokaż</a></td>
            </tr>
            <%}) %>
        </table>
        <%} else {  %>
            <h3>Nie znaleziono grobów dla podanych wartości.</h3>
        <%} %>

        <a href="/" class="btn btn-primary btn-block">Powrót</a>
    </div>
    </body>
</http>